<div class="jumbotron">
    <h1>Instructor-led lab DEVIL401</h1>
    <p class="lead">Advanced Azure Diagnostics with Application Insights.</p>
    Application heartbeat: <span id="status" class="glyphicon glyphicon-refresh"> </span>  <span id="heartbeat"></span>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Get packages</h2>
        <div class="container">
            <input type="text" class="form-control" id="message" />
            <input type="button" class="btn btn-default" id="sendmessage" value="Send"/>
        </div>
    </div>
    
    <div class="col-md-4">
        <h2>Packages</h2>
        <div id="discussion"></div>
    </div>
</div>

@Scripts.Render("//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js")
@Scripts.Render("//ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/Scripts/heartbeat.js")
@Scripts.Render("~/Scripts/packages.js")
